<!-- social_media.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head'); %>
</head>
<body>
    <%- include('components/nav'); %>
    <% if (User.section==1) { %>
    <%- include('components/profile'); %>
    <% } else if(User.section==2) { %>
        <%- include('components/posts'); %>
    <% } else if(User.section==3) { %>
        <%- include('components/post'); %>
    <%}%>
   
    
</body>
</html>
